pkgbase = maple2026
	pkgdesc = A commercial computer algebra system developed by Maplesoft
	pkgver = 2026.1
	pkgrel = 3
	url = https://www.maplesoft.com/products/maple/
	install = maple2026.install
	arch = x86_64
	license = LicenseRef-Maplesoft-EULA
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = fontconfig
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = ld-lsb
	depends = libglvnd
	depends = libx11
	depends = libxext
	depends = libxi
	depends = libxrender
	depends = libxtst
	depends = libxxf86vm
	depends = pango
	provides = maple=2026.1
	conflicts = maple18
	conflicts = maple2019
	conflicts = maple2020
	conflicts = maple2021
	conflicts = maple2023
	conflicts = maple2024
	options = !strip
	source = maple2026.desktop
	source = Maplesoft-x-maple-worksheet.xml
	source = activation-headless.patch
	source = xmaple
	source = local://Maple2026.1LinuxX64Installer.run
	sha256sums = faf9d01b753105071caf202b0305a564c6989e7e82a35fd377516d7df68a1e3d
	sha256sums = 8478a719fd3e393b5bc1a2a92431701a00a15174c1fac5f1798bf36af216f028
	sha256sums = 708507e80b9ea23a6e88ee719d49250ee2c2ca61d90a5c656499354fbae00175
	sha256sums = fa54aa594603fd360352f8605920e057bc1f10709d49aaeb433e77f918d590d5
	sha256sums = 4d52414cfc43ca7ef83ef08a84a6c05f09529b1d6049f172d02d0770c2ac8262

pkgname = maple2026
